<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>bir kapı var aççak mısın?</h1>
    
    <ul class="list">
        <li class="list__item">
            <a href='/oyun6'>AÇ</a>
                <img src="static\css\images\indir1.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun3'>Boşver leeen</a>
                <img src="static\css\images\geri dön.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    

</body>



</html>