<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>KOŞŞŞŞŞŞŞ!!!!!3</h1>
    
    <ul class="list">
        <li class="list__item">
            <a href='/oyun13'>SAĞ</a>
                <img src="static\css\images\indir.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun5'>SOL</a>
                <img src="static\css\images\images.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>

</body>



</html>



















































