<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>yolunu haydutlar kesti!!!</h1>
    
    <ul class="list">
        <li class="list__item">
            <a href='/oyun5'>Savaş</a>
                <img src="static\css\images\savaş.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun16'>Sıvış</a>
                <img src="static\css\images\yol.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    

</body>



</html>



















































