<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>çay ******* gittim oraletim</h1>

    <ul class="list">
        <li class="list__item">
            <a href='/oyun5'>evine</a>
                <img src="static\css\images\ev.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun18'>ocağına</a>
                <img src="static\css\images\ocağı.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    

</body>



</html>



















































