<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>Öldün başa dön</h1>
    <ul class="list">
        <li class="list__item">
            <a href='/oyun1'>öldün şifre"çay"</a>
                <img src="static\css\images\geri dön.png" alt="Yüklenemiyor" class="item__img">
            </a>
    </ul>
    
    

</body>



</html>



















































