<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>hangisi daha iyi acaba ?</h1>
    
    
    <ul class="list">
        <li class="list__item">
            <a href='/oyun15'>mutluluk</a>
                <img src="static\css\images\happy.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun13'>oyunun sonu</a>
                <img src="static\css\images\the end.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    

</body>



</html>



















































