<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>Yolda yürüyorsun iki yol çıktı sağmı solmu ?</h1>
    <ul class="list">
        <li class="list__item">
            <a href='/oyun2'>SAĞ
                <img src="static\css\images\indir.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun3'>SOL
                <img src="static\css\images\images.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    
    

    

</body>



</html>



















































