<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>Yolda yürüyorsun iki yol çıktı sağmı solmu ?</h1>
    <form action="/oyun19" method="post">
        <button type="submit">ŞİFREYİ SÖYLE eğer bilmiyorsan seçme</button>
    </form>
    <a href='/oyun17'>oralet</a>
    

</body>



</html>



















































