<!DOCTYPE html>


<html>


<head>
    <link rel="stylesheet" href="static\css\OYUN.css">
    <title>Fruakaluuuraaaşuuuk</title>
</head>

<body>

    <h1>NASIL?</h1>
    <h1>Yolda yürüyorsun iki yol çıktı geri mi karanlık mı ?</h1>
    
    
    <ul class="list">
        <li class="list__item">
            <a href='/oyun5'>karanlık</a>
                <img src="static\css\images\karanlık.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
        <li class="list__item">
            <a href='/oyun10'>az önce seçebilecağin yer</a>
                <img src="static\css\images\geri dön.png" alt="Yüklenemiyor" class="item__img">
            </a>
        </li>
    </ul>
    

</body>



</html>



















































